DISCORD_TOKEN="isi_token_bot_discord_lu"
CLIENT_ID="isi_application_id_bot_lu"
GUILD_ID="isi_id_server_discord_lu"
PREMIUM_ROLE_ID="isi_id_role_premium"

# URL dari deploy website utama (SapuLidiOak) di Railway
WEBSITE_URL="https://namaprojekweb-lu.up.railway.app"

# Harus sama persis nilainya dengan BOT_SECRET di website utama (SapuLidiOak)
BOT_SECRET="isi_dengan_secret_rahasia_untuk_bot"

LOADER_SCRIPT="script_loader_kamu_di_sini"
